* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component1 {
  /* border: 2px solid black; */
  height: 42rem;
  background-color: white;
  display: flex;
}

.component1 img {
  width: 40rem;
  height: 34rem;
  /* border: 2px solid black; */
}

.img {
  position: relative;
  top: 4rem;
  right: 4rem;
}

.para {
  /* border: 2px solid black; */
  height: 24rem;
  position: relative;
  /* top: 3rem; */
  padding: 3rem;
  margin: 5rem;
}

.para h1,
h3 {
  text-align: left;
  padding: 10px;
}

.para p {
  text-align: left;
}

.btn1 {
  /* border: 2px solid black; */
  display: flex;
  width: 13rem;
  height: 4rem;
  position: relative;
  bottom: 7rem;
  left: 8rem;
  border-radius: 4rem;
  color: white;
  background-color: #7f7ff0;
}

.btn {
  color: white;
}

.card-header {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border: 2px solid black;
  position: relative;
  right: 25rem;
  bottom: 3rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid black; */
  /* border-radius: 0.25rem; */
  top: 1rem;
  /* right: 10rem; */
}

.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid black; */
  /* border-radius: 0.25rem; */
  top: 1rem;
  width: 16rem;
  /* right: 7rem; */
}

.box {
  height: 33rem;
  width: 20rem;
  display: inline-block;
  position: relative;
  /* border: 2px solid black; */
  right: 8rem;
}

.box2 {
  height: 10rem;
  width: 20rem;
}

.card2 {
  display: flow-root;
}

.box3 {
  /* border: 2px solid black; */
  top: 21rem;
  position: relative;
}

.tokencard {
  /* background: rgb(2,0,36); */
  background: linear-gradient(
    90deg,
    hsl(309.87deg 47.88% 32.35%),
    hsl(265.97deg 51.94% 25.29%)
  );
  width: 96rem;
  overflow-x: hidden;
}

.token1 {
  position: relative;
  width: 6rem;
  flex-direction: row;
  margin: 16px;
}

.maindiv {
  border: 2px solid white;
  display: inline-block;
  width: 85rem;
  position: relative;
  margin: -81px;
  right: 4rem;
  top: 5rem;
  height: 6rem;
  border-radius: 17px;
}
.mainresales {
  /* border: 2px solid black; */
  display: inline-block;
  width: 20rem;
  position: relative;
}

.main {
  /* border: 2px solid black; */
  width: 85rem;
  left: -4rem;
  height: 60rem;
}

.listed {
  position: relative;
  top: 1rem;
}

.main2 {
  position: relative;
  right: 1rem;
  /* border: 2px solid black; */
  top: 10rem;
  min-height: fit-content;
}

.homecard {
  border: 2px solid white;
  width: 42rem;
  right: 7rem;
  position: relative;
  height: 47rem;
  top: -4rem;
  background: url(../Image/giphy.gif);
}

.card-header {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  /* border: 2px solid white; */
  position: relative;
  right: 25rem;
  color: white;
  bottom: 3rem;
  top: 1rem;
  /* background: url(http://localhost:3000/static/media/photo-1470225620780-dba8ba36b745.8c99e81c6526ccf844ae.jpeg); */
}

.homecard img {
  width: 12rem;
  right: 0rem;
  position: relative;
  top: 20rem;
  /* border-radius: 7rem; */
  /* border: 2px solid black; */
}
.container-fluid {
  background-repeat: no-repeat;
  /* border: 2px solid black; */
  bottom: 7rem;
  position: relative;
  height: 48rem;
  background-color: #7f7ff0;
}

.card-title {
  position: relative;
  margin-bottom: 0.5rem;
  bottom: -1rem;
  left: 2rem;
  font-size: 35px;
  color: white;
}

.homebtn1 {
  width: 5rem;
  background-color: transparent;
  color: white;
  margin: 1rem;
  right: 0rem;
  outline: none;
  border: 2px solid white;
  border: transparent;
  bottom: -1rem;
  /* font-size: 25px; */
  left: 3rem;
}

.homebtn1:hover {
  background-color: #35628c;
  color: black;
}
.homebtn2:hover {
  background-color: #35628c;
  color: black;
}
.homebtn3:hover {
  background-color: #35628c;
  color: black;
}

.homebtn2 {
  background-color: transparent;
  color: white;
  margin: 1rem;
  border: transparent;
  /* border: 2px solid white; */
  bottom: -1rem;
  left: 2rem;
}

.homebtn3 {
  width: 4rem;
  border: transparent;
  background-color: transparent;
  color: white;
  /* border: 2px solid white; */
  margin: 1rem;
  left: 1rem;
  bottom: -1rem;
}
ca .row {
  /* border: 2px solid black; */
}
.bi1 {
  display: block;
  width: 2rem;
  height: 2rem;
  /* top: 1rem; */
  position: relative;
  top: 10px;
  left: 9px;
}

.dot {
  height: 3rem;
  width: 3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  top: 10px;
  position: relative;
}

.bi {
  top: 0px;
  position: relative;
}

.button1 {
  width: 22rem;
  top: 2rem;
  position: relative;
  background: black;
  left: 12rem;
  color: white;
}

.button1:hover {
  background-color: #35628c;
}

.Card-Body {
  position: relative;
  /* border: 2px solid black; */
  height: 2rem;
  top: 31rem;
  margin: 0px;
  right: 2rem;
}

.mainDiv {
  /* border: 2px solid black; */
  width: 100%;
  height: 200rem;
  overflow-x: hidden;
}

.div1 {
  /* border: 2px solid blue; */
  width: 90rem;
  height: 50rem;
  display: flex;
  padding: 4rem;
  margin: 1rem;
}

.sub1 {
  /* border: 2px solid green; */
  width: 47rem;
  height: 45rem;
  right: 4rem;
  position: relative;
}

.sub2 {
  /* border: 2px solid red; */
  width: 47rem;
  height: 35rem;
}

.sub1 h1 {
  font-size: 5rem;
  top: 4rem;
  position: relative;
  line-height: 5rem;
}

.p1 {
  position: relative;
  top: 6rem;
  /* border: 2px solid black; */
  width: 29rem;
  left: 6rem;
  text-align: left;
  font-size: 19px;
}

#email {
  position: relative;
  top: 7rem;
  padding: 8px;
  width: 23rem;
  border-radius: 10px;
}

.btn11 {
  position: relative;
  top: 7rem;
  padding: 8px;
  left: 15px;
  border-radius: 7px;
  background-color: #282c34;
  color: white;
}

.btn11:hover {
  background-color: grey;
}

.sub2 {
  /* border: 2px solid blue; */
}

.sub2 img {
  border-radius: 4rem 0 0 4rem;
  width: 119%;
  height: 45rem;
}

.p2 {
  position: relative;
  /* border: 2px solid black; */
  top: 7rem;
  width: 29rem;
  display: block;
  left: 8rem;
}

/* ---------------------- */
.div2 {
  /* border: 2px solid black; */
  width: 90rem;
  height: 40rem;
  display: flex;
  padding: 4rem;
  margin: 1rem;
}

.sub21 {
  /* border: 2px solid green; */
  width: 70rem;
  height: 33rem;
  position: relative;
  left: -4rem;
}

.sub22 {
  /* border: 2px solid red; */
  width: 47rem;
  height: 35rem;
}

.sub21 img {
  border-radius: 0 2rem 2rem 0;
  width: 105%;
  height: 33rem;
  right: 2rem;
  position: relative;
}

.b1 {
  /* border: 2px solid black; */
  top: 10rem;
  position: relative;
  font-size: 200%;
}

.b2 {
  /* border: 2px solid black; */
  position: relative;
  top: 12rem;
  text-align: left;
  /* padding: 10px; */
  width: 95%;
  left: 13%;
  font-size: 20px;
}

/* ------------- */
.div3 {
  /* border: 2px solid blue; */
  width: 90rem;
  height: 40rem;
  display: flex;
  padding: 4rem;
  margin: 1rem;
}

.sub31 {
  /* border: 2px solid green; */
  width: 70rem;
  height: 33rem;
  position: relative;
  left: -4rem;
}

.sub32 {
  /* border: 2px solid red; */
  width: 47rem;
  height: 35rem;
}

.sub32 img {
  border-radius: 20px 0 0 20px;
  width: 130%;
  height: 35rem;
  left: -2rem;
  position: relative;
}

.b11 {
  /* border: 2px solid black; */
  top: 8rem;
  position: relative;
  font-size: 42px;
}

.b12 {
  /* border: 2px solid black; */
  position: relative;
  top: 10rem;
  text-align: left;
  /* padding: 10px; */
  width: 95%;
  left: 3%;
  font-size: 20px;
}

/* ------------------- */
.div4 {
  /* border: 2px solid black; */
  width: 90rem;
  height: 40rem;
  display: flex;
  padding: 4rem;
  margin: 1rem;
}

.sub41 {
  /* border: 2px solid green; */
  width: 70rem;
  height: 33rem;
  position: relative;
  left: -4rem;
}

.sub42 {
  /* border: 2px solid red; */
  width: 47rem;
  height: 35rem;
}

.sub41 img {
  border-radius: 0 2rem 2rem 0;
  width: 105%;
  height: 33rem;
  right: 2rem;
  position: relative;
}

.b21 {
  /* border: 2px solid black; */
  top: 10rem;
  position: relative;
  font-size: 200%;
}

.b22 {
  /* border: 2px solid black; */
  position: relative;
  top: 12rem;
  text-align: left;
  /* padding: 10px; */
  width: 95%;
  left: 13%;
  font-size: 20px;
}

/* -------------------- */
.div5 {
  /* border: 2px solid black; */
  height: 22rem;
  background-color: #515b60;
}

.div5 p {
  /* border: 2px solid black; */
  top: 3rem;
  position: relative;
  height: 10rem;
  font-size: 32px;
  text-align: center;
  /* display: flex; */
  width: 51%;
  right: 20rem;
  float: right;
  color: white;
}

.div5 b {
  /* border: 2px solid white; */
  top: 15rem;
  position: relative;
  left: 30rem;
  font-size: 20px;
  color: white;
}

.resaleItem {
  position: relative;
  margin-bottom: 0.5rem;
  /* bottom: 1rem; */
  left: -18rem;
  color: black;
  font-size: 29px;
  top: 6rem;
  /* right: 1rem; */
  width: 13rem;
}

.token {
  position: relative;
  margin-bottom: 0.5rem;
  bottom: 6rem;
  left: -2rem;
  color: white;
  font-size: 20px;
  top: 25px;
}

.tokenBtn {
  top: 21px;
  position: relative;
  background-color: black;
  border: 2px solid white;
  right: 0rem;
}
.tokenBtn:hover {
  background-color: black;
  border: 2px solid white;
}

.tokentext {
  position: relative;
  top: 22px;
  color: white;
  right: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.tokenfooter {
  position: relative;
  top: 0rem;
}

.homeHeader {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid white;
  position: relative;
  color: white;
  bottom: 0rem;
  top: 1rem;
  z-index: 1;
  border-radius: 10px;
  width: 12rem;
  left: 6rem;
}

.shuffleBTN {
  top: 10px;
  width: 40px;
  right: 30px;
  cursor: pointer;
  height: 38px;
}

.shuffleBTN:hover {
  border: none;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
}

.tokenFooter {
  /* border: 2px solid white; */
  position: relative;
  /* bottom: 126px; */
  left: 63rem;
  padding: 9px;
  width: 20rem;
  border-radius: 6px;
  bottom: 10rem;
}

.resaleBtn {
  /* border: 2px solid black; */
  top: 11rem;
  position: relative;
  right:28rem;
  height: 40px;
}

.resaletext {
  top: 14rem;
  position: relative;
  right: 33rem;
}

.cardtext {
  top: 25px;
  position: relative;
}
.logo {
  /* height: 3rem; */
  border-radius: 43px;
}

.mainnav {
  background-color: black;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-size: 20px;
}

.card-img-top {
  width: 57px;
  height: 52px;
  border: 2px solid white;
}
.card-body {
  padding: 1rem 1rem;
  /* border: 2px solid black; */
  display: flex;
  width: 25rem;
  bottom: 7rem;
  position: relative;
  left: 16rem;
}

.tokenbi {
  top: 0px;
  position: relative;
}

.resaleImg {
  width: 10rem;
  height: 10rem;
  /* border: 2px solid green; */
  padding: 10px;
}

.token2 {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 10px;
  height: 25rem;
}

.box {
  top: 3rem;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* border: 2px solid black; */
  width: 93rem;
}

.maindivResale {
  padding: 20px;
}

.input {
  border: 2px solid black;
  background: black;
  color: white;
}
.input:hover {
  border: 2px solid black;
  background: black;
  color: white;
}

.tokenBTN {
  border-color: white;
}
.tokenBTN:hover {
  border-color: white;
}

.tokenTable {
  border: 2px solid black;
  overflow-x: hidden;
  display: block;
  position: relative;
}

.tokenH2 {
  /* border: 2px solid black; */
  bottom: 35px;
  width: 10rem;
  left: 7rem;
  font-size: 19px;
}